{% extends 'base.html' %}

{% block content %}

<div class="card" style="max-width: 600px; margin:auto;">

    <h2>🏡 Add House</h2>

    <form method="post">
        {% csrf_token %}
        <form method="post">
            {% csrf_token %}
        
            {{ form.as_p }}
        
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'house_list' %}" class="btn btn-danger">Cancel</a>
        </form>

<label>Resident</label>
{{ form.resident }}

        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'house_list' %}" class="btn btn-danger">Cancel</a>
    </form>

</div>

{% endblock %}
