{% extends 'base.html' %}

{% block content %}

<div class="card" style="max-width: 500px; margin:auto;">

    <h2 style="margin-bottom: 20px;">👤 Add Resident</h2>

    <form method="post">
        {% csrf_token %}

        <label>Name</label>
        {{ form.name }}

        {% if form.name.errors %}
            <small style="color:red;">{{ form.name.errors }}</small>
        {% endif %}

        <div style="margin-top: 15px;">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'house_list' %}" class="btn btn-danger">Cancel</a>
        </div>

    </form>

</div>

{% endblock %}
