{% extends 'base.html' %}

{% block content %}

<div class="card" style="max-width: 500px; margin:auto; text-align:center;">
    <h2 style="margin-bottom: 15px;">⚠️ Delete Resident</h2>

    <p style="margin-bottom: 20px; color:#ef4444; font-weight:500;">
        Are you sure you want to delete <strong>"{{ object.first_name }} {{ object.last_name }}"</strong>?
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'resident_list' %}" class="btn btn-primary">Cancel</a>
    </form>
</div>

{% endblock %}